@media screen and (max-width:744px) {
   
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
        width: 81px;
        margin: 0 auto;
    }
    .btn{
        justify-content: center;

    }
    .slider{
        height: 178px;
    }
    .card-item img{
        width: 136px;
    }
    
}
